/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";  /*ここを追加*/
 @import "bootstrap";            /*ここを追加*/

 header {
 	color: white;
 }

 header .navbar-left span {
    font-size: 20px;
    padding-top: 10px;
}

footer {
	display: block;
    width: 80%;
	color: gray;
	margin-top: 10px;
	text-align: right;
}

.container {
    width: 80%;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* top画面 */
.container:before, .container:after {
    content: " ";
    display: table;
}
.body {
	margin-top: 60px;
}
.body-container {
	color: black;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
a:visited {
    color: #666;
}

/* registration_new */
.new_register {
	display: block;
	width: 100%;
	margin-top: 70px;
	margin-left: 0;
	color: black;
}
.field {
	display: block;
	margin-top: 10px;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.actions {
	margin-top: 10px;
}

.height_modification {
    display: block;
    width: 100%;
    margin-top: 70px;
    margin-left: 0;
    color: black;
}
.username {
    display: block;
}

/* マイページ */
.table>thead>tr>th, .table>thead>tr>td, .table>tbody>tr>th, .table>tbody>tr>td, .table>tfoot>tr>th, .table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
h2 {
    display: block;
}

/* マイページ、一覧ページ */
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.botton {
    height: auto;
    margin-bottom: 20px;
}
.actions {
    margin-top: 20px;
}
.margin_image {
    margin-bottom: 20px;
}
.td {
    text-align: center;
}
.margin_icon {
    margin: 0 auto;
}
.field3 {
    width: 100%;
    margin-top: 10px;
    display: block;
}
.error_explanation1 {
    color: red;
    font-size: 30px;
}
.error_explanation2 {
    color: red;
    font-size: 20px;
}

/* edit */
.field2 {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    display: block;
}
.label_edit {
    display: inline-block;
    max-width: 100%;
    font-weight: bold;
    float: left;
    margin-right: 10px;
    margin-top: 4px;
}
.text_field {
    float: left;
}
.user-edit-form {
    display: block;
}
.label_edit2 {
    display: block;
}
.notice2 {
    color: red;
    font-size: 40px;
}
.notice {
    color: red;
}

/* 編集ページ */
.editing_box {
    width: 80%;
}